










<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="w3.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% extends 'base.html'%}
{% load bootstrap4%}
{% load static%}
{% block content%}
<!------------------------------------------------------------------------------------------------>





<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>



  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image"
      src="https://images.unsplash.com/photo-1572788261432-eb1d270aebb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
      alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b></b></span> <span
          class="w3-hide-small w3-text-light-grey">Neighbourhood</span></h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="text-align: center;"> {{user.neighbour.neighbourName}} Neighbourhood</h3>
    </div>

    <div class="w3-row-padding">
        {% if posts%}
      {% for post in posts%}
      <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                    <div class="w3-display-topleft w3-padding"></div>
                    <h3>Poster:{{user}}</h3>
                    <h4>Title:{{post.postName}}</h4>
                    <p>Post:{{post.postText}}<p>
                </div>
      </div>
      {% endfor%}
      {% else%}
      <h3>no posts yet </h3> 
      {% endif%} 
  </div>


  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>visit Us <a href="#" title="$ Projects"
        class="w3-hover-text-green">Neighbourhood</a></p>
    <div class="bottom">
      <a class="btn btn-primary btn-twitter btn-sm" href="#">
        <i class="fa fa-twitter"></i>
      </a>
     
      <a class="btn btn-primary btn-sm" rel="publisher" href="#">
        <i class="fa fa-facebook"></i>
      </a>
     


    </div>
  </footer>

</body>

</html>



<!------------------------------------------------------------------------------------------------>

<!-- <h1>hi</h1> -->
{% endblock%}



{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/project.js'%}"></script>
{% endblock %}